<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="fancy">Profile</h1>
  <table class="table table-striped">
    <tr>
      <td>
        First name:
      </td>
      <td>
        <%= @user.first_name %>
      </td>
    </tr>
      <td>
        Last name:
      </td>
      <td>
        <%= @user.last_name %>
      </td>
    </tr>
      <td>
        Email:
      </td>
      <td>
        <%= @user.email %>
      </td>
    </tr>
  </table>

  <div class="btn-group btn-group-xs" role="group" aria-label="...">
    <%= link_to 'Edit', edit_user_registration_path(@user),class: "btn btn-default" %>
    <%= link_to 'Back', :back, class: "btn btn-default" %>
  </div>
  
</div>