<%= form_for(@order) do |f| %> 

  
  <div class="form-group">
    <%= f.label :user_id, class: "control-label" %><br>
    <%= f.text_field :user_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :product_id, class: "control-label" %><br>
    <%= f.text_area :product_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>