<tr>
  <td>
    <%= order.user.first_name %> <%= order.user.last_name %>
  </td>
  <td>
    <%= order.product.name %>
  </td>
  <td>
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
    <%= link_to 'Show', order, class: "btn btn-default" %>
    <%= link_to 'Edit', edit_order_path(order),class: "btn btn-default" %>
    <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    </div>
  </td>
</tr>
