<div class="container">
  <table class="table">
    <tr>
      <th>User</th>
    </tr>
    <tr>
      <td> <%= @order.user.first_name + @order.user.last_name %></td>
    </tr>
    <tr>
      <th>Products</th>
    </tr>
    <% @products.each do |product, quantity| %>
    <tr>
      <td>
        <%= product.name %> <%= product.price %> <%= quantity %>
      </td>
    </tr>
    <% end %>
    <tr>
    <td>
      <%= form_tag("/payments",remote: true, class: 'new_payment') do %>
        Total: <%= @order.total %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:order_id, @order.id) %>
        <%= hidden_field_tag(:price, @order.total) %>
        <%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>
      <% end %>  
    <td>
    </tr>
    <tr>
      <td>
        <%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
      </td>
    </tr>
  </table>
</div>