<div class="container">
<h1 class="fancy">Cart</h1>
<table class="table table-striped">
<tr>
  <th>
    Product
  </th>
  <th>
    Price
  </th>
  <th>
    Quantity
  </th>
  <th>
    Action
  </th>
</tr>
<% @products.each do |product| %>
<tr id="removeFromCart_<%= product.id %>">
  <td>
    <%= product.name %>
  </td>
  <td>
    <%= number_to_currency(product.price, precision: 2, locale: :de) %>
  </td>
  <td>
    <%= @items[product.id.to_s] %> 
  </td>
  <td>
    <button  class="btn btn-default removeFromCart" data-product="<%= product.id %>">Remove</button>

  </td>
</tr>
<% end %>
<tr>
  <td colspan="3">
    Total: <span id="cartTotal"><%= number_to_currency($redis.get("total_cart_#{current_user.id}"), precision: 2, locale: :de) %></span>
  </td>
  <td>
    <%= link_to 'Place Order' ,  save_cart_path, method: :post, class: "btn btn-default" %>
  </td>

</tr>
</table>
<%= link_to 'Empty Cart' ,  empty_cart_path, method: :delete, class: "btn btn-danger" %>
</div>