<div class="container">
  <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
  <% elsif alert %>
    <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
  <div id="ajax-response"></div>
  <h1>
    <%= @product.name %>
  </h1>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      <p>Color: <%= @product.colour %></p>
      <p> 
        Price: <%= number_to_currency(@product.price, precision: 2, locale: :de) %>
        <%= form_tag("/cart/add/#{@product.id}", {remote: true , method: :put, id: "addToCart"} ) do %>
          <%= hidden_field_tag(:product_price, @product.price) %>
          <%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>
          <%= submit_tag("Add to cart") %>
        <% end %>  
      </p>
      <strong>Description:</strong>
      <%= @product.description %>

    </div>
    <div class="col-xs12 col-md-6">
      <%= image_tag(@product.image_url, alt: "Image not found" ) %>
    </div>

  </div>
  <div class="row">
    <ul class="nav nav-pills">
      <li role="presentation"><%= link_to 'Edit', edit_product_path(@product) %></li>
      <li role="presentation"><%= link_to 'Back', products_path %></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render "new_comment" %> 
      <%= render "product_reviews" %>
    </div>
  </div>

</div>